###########################################################################
#  Custom snippets for all file types
#  Reference: https://github.com/SirVer/ultisnips
###########################################################################

# This overrides c.snippets todo snippet
snippet todo
// TODO (${1:`!v g:snips_author`}) : 
endsnippet
